#about{
    background-image: url(/images/layered-salmon.svg);

}
#projects
{
    background-image: url(/images/layer-peach.svg);
}
#contact
{
    background-image: url(/images/layer-darkblue-contact.svg);
}
