




#about .blue {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

#about .blue svg {
    position: relative;
    display: block;
    width: calc(165% + 1.3px);
    height: 177px;
}

#about .blue .shape-fill {
    fill: #7D2E68;
}

#projects .green {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

#projects .green svg {
    position: relative;
    display: block;
    width: calc(165% + 1.3px);
    height: 177px;
}

#projects .green .shape-fill {
    fill: #152FC4;
}
#contact .darkred {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

#contact .darkred svg {
    position: relative;
    display: block;
    width: calc(165% + 1.3px);
    height: 177px;
}

.darkred .shape-fill {
    fill: #9D3A83 ;
}