header{
    
    height: 100vh;    
    
    display: flex;
    justify-content: center;
    align-items:center;
    color: white;
    background-image: url(/images/layered-waves-haikei.svg);
    p{
        width: 70vh;
    }
}