#nav {
  position: relative;
  overflow: hidden;
  background-color: #333;
}

#nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#menu {
  list-style-type: none;
}

#nav a:hover {
  background-color: #ddd;
  color: black;
}

#nav a.dropbtn {
  background-color: #CA9591;
  color: white;
}

.dropdown-content {
  display: none;
}

/* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 600px) {
  #nav a {
    float: none;
    display: block;
  }
  .dropbtn {
    position: relative;
    top: 0;
    left: 0;
    -webkit-transform: none;
            transform: none;
  }
}

#skills .waves {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

#skills .waves svg {
  position: relative;
  display: block;
  width: calc(165% + 1.3px);
  height: 177px;
}

#skills .waves .shape-fill {
  fill: #2B47E9;
}

#about .blue {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

#about .blue svg {
  position: relative;
  display: block;
  width: calc(165% + 1.3px);
  height: 177px;
}

#about .blue .shape-fill {
  fill: #7D2E68;
}

#projects .green {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

#projects .green svg {
  position: relative;
  display: block;
  width: calc(165% + 1.3px);
  height: 177px;
}

#projects .green .shape-fill {
  fill: #008000;
}

#contact .darkred {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

#contact .darkred svg {
  position: relative;
  display: block;
  width: calc(165% + 1.3px);
  height: 177px;
}

.darkred .shape-fill {
  fill: #8B0000;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-image: url(/images/layered-waves-haikei.svg);
}

header p {
  width: 70vh;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background: #202731;
}

main section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 80vh;
  color: white;
}

#about {
  background-image: url(/images/layered-salmon.svg);
}

#skills {
  background: green;
}

#projects {
  background: darkred;
}

#contact {
  background: mediumpurple;
}

.spacer {
  aspect-ratio: 900/600;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/*# sourceMappingURL=style.css.map */