
$primaryButton: red;
$textColor: rgb(255,255,255);
@import './nav';
@import './curves';

@mixin flexCenter($direction){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

header{
    @include flexCenter(column);
    height: 100vh;    
    
    display: flex;
    justify-content: center;
    align-items:center;
    color: $textColor;
    background-image: url(/images/layered-waves-haikei.svg);
    p{
        width: 70vh;
    }
}
body{
    font-family: 'Roboto', sans-serif;  
    margin: 0;
    background: #202731;
}
main section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    //padding: 100px 20vw;
    color: white;
}
#about{
    background-image: url(/images/layered-salmon.svg);
}
#skills
{
    background: green;
}
#projects
{
    background: darkred;
}
#contact
{
    background: mediumpurple;
}

.spacer {
    aspect-ratio:900/600;
    width:100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}