

@import './nav';
@import './curves';
@import './background-image';
@import './header';
@import './about';
@import './projects';


*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;  
    margin: 0;
    background: #202731;
}
main section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    //padding: 100px 20vw;
    color: white;
    height: 100vh;
    
    
}




#clothing{
    
    border:2px solid black;
}
#weather{
    border:2px solid black;
    
}

.spacer {
    aspect-ratio: 900/600;
    width:100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


@media only screen and (max-width: 620px){
    #about-child{
        display: flex;
        
        flex-wrap: wrap;
        max-width: fit-content;
        max-height:fit-content
    }
    #about{
        height: 105vh;
    }
    #about-content{
        height: fit-content;
        max-height: 100vh;
    }
    #about-container{
        display: block;
        z-index: 3;
        max-width: fit-content;
        max-height:fit-content
    }
    .shape-fill{
        display:none;
    }
    
}